.bc-white{
  background-color: white;
}
.bc-gray{
  background-color: gray;
}
.bc-black{
  background-color: black;
}
.bc-red{
  background-color: #a10000;
}
.bc-brown{
  background-color: brown;
}
.bc-maroon{
  background-color: maroon;
}
.bc-orange{
  background-color: orange;
}
.bc-green{
  background-color: green;
}
.bc-blue{
  background-color: #00c8ff;
}