.w-auto{
  width: auto;
}
.w-480px{
  width: 480px;
}
.w-10per{
  width: 10%;
}
.w-15per{
  width: 15%;
}
.w-20per{
  width: 20%;
}
.w-25per{
  width: 25%;
}
.w-30per{
  width: 30%;
}
.w-35per{
  width: 35%;
}
.w-40per{
  width: 40%;
}
.w-45per{
  width: 45%;
}
.w-50per{
  width: 50%;
}
.w-55per{
  width: 55%;
}
.w-60per{
  width: 60%;
}
.w-65per{
  width: 65%;
}
.w-70per{
  width: 70%;
}
.w-75per{
  width: 75%;
}
.w-80per{
  width: 80%;
}
.w-85per{
  width: 85%;
}
.w-90per{
  width: 90%;
}
.w-95per{
  width: 95%;
}
.w-100per{
  width: 100%;
}
.max-w-480px{
  max-width: 480px;
}
.max-w-90per{
  max-width: 90%;
}
.max-w-95per{
  max-width: 90%;
}